@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========BASE ============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$black: #64748b;

header {
    // background-color: #005ae1;
    // padding: 0px;
    // margin: 0px;
    // width: 100%;
    margin: 0 auto;
}

.nav {
    // border-bottom: 1px solid #ccc;
    // background-color: #8f2f2f;
    padding: 0px 15%;
    // margin: 0px;
    // width: 80%;
    // margin: 0 auto;
}

.links {
    background-color: #ffffff;
    // border-color: #94a3b8;
    // border-radius: 6px;
    // border-style: solid;
    // border-width: 2px;
    color: $black;
    display: flex;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.35px;
    line-height: 20px;
    // margin: 0px 0px 0px 20px;
    padding: 6px 16px;
    // transition: outline-width 0.8s ease-in-out;

    &:hover {
        // background-color: #f7fafc;
        // border-color: #94a3b8;
        border-radius: 6px;
        // border-style: solid;
        // border-width: 1px;
        outline: 1px solid $black;
        color: #2f3742;
    }
}
.button-contactme {
    background-color: #ffffff;
    border-color: #94a3b8;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    color: #0f172a;
    display: flex;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.35px;
    line-height: 20px;
    margin: 0px 0px 0px 10px;
    padding: 6px 16px;

    transition: box-shadow 0.2s;

    &:hover {
        // background-color: #f7fafc;
        // border-color: #94a3b8;
        // border-radius: 6px;
        // border-color: transparent;
        // border-width: 1px;
        color: #2f3742;

        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }
}

/* ======== INTRO ============== */

.Intro-Info {
    .intro-welcome {
        // color: #b7e2f8;
        // color: #006aff;
        font-size: 20px;
        font-weight: 700;
        // letter-spacing: -0.6px;
        // line-height: 32px;
        // margin-bottom: 16px;
        font-family: Inter;
    }

    .title {
        // color: #b7e2f8;
        // color: #006aff;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: -0.6px;
        line-height: 70px;
        // margin-bottom: 16px;
        font-family: Inter;

        .title-name {
            // color: #006aff;
            font-size: 60px;
            font-weight: 700;
            letter-spacing: -0.6px;
            // line-height: 32px;
            // margin-bottom: 16px;
        }

        .title-body {
            // color: #b7e2f8;
            // color: #006aff;
            font-size: 36px;
            font-weight: 700;
            letter-spacing: -1px;
            line-height: 48px;
            font-family: Inter;
        }
    }

    .intro-description {
        color: #64748b;
        font-family: Inter;
        // color: #006aff;
        font-size: 18px;
        // font-weight: 00;
        // letter-spacing: -0.6px;
        line-height: 28px;
        // margin-bottom: 16px;
    }

    .intro-letswork {
        // color: #b7e2f8;
        // color: #006aff;
        font-size: 14px;
        font-weight: 500;
        // letter-spacing: -0.6px;
        // line-height: 32px;
        // margin-bottom: 16px;
        padding: 12px 48px;
    }

    .intro-resume {
        font-size: 14px;
        font-weight: 500;
        padding: 12px 48px;
    }

    .red {
        color: #f92672;
    }

    .orange {
        color: #fb923c;
    }

    .green {
        color: #4ade80;
    }

    .blue {
        color: #b7e2f8;
    }

    .blueStrong {
        color: #0478b3;
    }

    .white {
        color: #e2e8f0;
    }
}

.Intro-Code {
    // background-color: #ffffff;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: #94a3b8;

    font-size: 13px;
    // absolute right-24 top-48
    // position: absolute;
    // right: -10px;
    // top: 0px;
    letter-spacing: 0.35px;

    .defaultButton {
        color: #006aff;
        // 64748b 334155
    }

    .red {
        color: #f92672;
    }

    .orange {
        color: #fb923c;
    }

    .green {
        color: #4ade80;
    }

    .blue {
        color: #b7e2f8;
    }

    .blueStrong {
        color: #0478b3;
    }

    .white {
        color: #e2e8f0;
    }
}

.input-terminal {
    border: none;
    background-color: transparent;
    color: #c70000;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.35px;
    line-height: 20px;
    outline: none;
    width: 100%;
    padding: 0px;
    margin: 0px;

    // .input-terminal {
    //     color: #ffffff;
    //     width: 100%;
    //     padding: 0px;
    //     margin: 0px;

    // white-space: pre-line;
    // word-break: break-all;
    // word-wrap: break-word;
    // }
}

.terminal {
    // background-color: #ffffff;
    // .input-terminal-results {
    //     font-size: 13px;
    //     font-weight: 500;
    //     letter-spacing: 0.35px;
    //     line-height: 20px;
    //     color: #ffffff;
    //     width: 100%;
    //     padding: 0px;
    //     margin: 0px;
    //     background-color: #f92672;
    // }
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #94a3b8;
    // absolute rigth 24px, top 48
    // position: absolute;
    // right: 24px;
    // top: 48px;
    // font-family: ui-monospace;
    font-size: 14px;

    .terminal-body {
        // font-size: 4px;
        font-family: Consolas, "Courier New", monospace;
        // Consolas, 'Courier New', monospace //ui-monospace;
        // font-weight: 500;
        // letter-spacing: 0.35px;
        line-height: 25px;
        color: #ffffff;

        .red {
            color: #f92672;
        }

        .orange {
            color: #fb923c;
        }

        .green {
            color: #4ade80;
        }

        .blue {
            color: #b7e2f8;
        }

        .blueStrong {
            color: #0478b3;
        }

        .white {
            color: #e2e8f0;
        }
    }
}

/* ======== ABOUT ============== */

.about {
    .about-title {
        font-size: 40px;
        font-weight: 700;
        // letter-spacing: -0.6px;
        // line-height: 48px;
        // margin-bottom: 16px;
        font-family: Inter;
    }

    .about-body {
        font-size: 16px;
        font-weight: 500;
        // letter-spacing: -0.6px;
        // line-height: 32px;
        // margin-bottom: 16px;
        font-family: Inter;
        color: #64748b;
    }

}
